@import url("@nimbus-ds/tokens/dist/css/variables.css");

[class*="nimbus-theme-dark_variables"] {
  --color-light-neutral-background: var(--color-dark-neutral-background);
  --color-light-neutral-surface: var(--color-dark-neutral-surface);
  --color-light-neutral-surface-highlight: var(
    --color-dark-neutral-surface-highlight
  );
  --color-light-neutral-surface-disabled: var(
    --color-dark-neutral-surface-disabled
  );
  --color-light-neutral-interactive: var(--color-dark-neutral-interactive);
  --color-light-neutral-interactive-hover: var(
    --color-dark-neutral-interactive-hover
  );
  --color-light-neutral-interactive-pressed: var(
    --color-dark-neutral-interactive-pressed
  );
  --color-light-neutral-text-disabled: var(--color-dark-neutral-text-disabled);
  --color-light-neutral-text-low: var(--color-dark-neutral-text-low);
  --color-light-neutral-text-disabled: var(--color-dark-neutral-text-disabled);
  --color-light-primary-surface: var(--color-dark-primary-surface);
  --color-light-primary-surface-highlight: var(
    --color-dark-primary-surface-highlight
  );
  --color-light-primary-interactive: var(--color-dark-primary-interactive);
  --color-light-primary-interactive-hover: var(
    --color-dark-primary-interactive-hover
  );
  --color-light-primary-interactive-pressed: var(
    --color-dark-primary-interactive-pressed
  );
  --color-light-primary-text-low: var(--color-dark-primary-text-low);
  --color-light-primary-text-high: var(--color-dark-primary-text-high);
}

[data-style="nimbus-calendar"] {
  scrollbar-width: var(--spacing-1);
  scrollbar-color: var(--color-light-neutral-background)
    var(--color-light-neutral-interactive);
}

[data-style="nimbus-calendar"]::-webkit-scrollbar {
  width: var(--spacing-1);
  height: 4px;
}

[data-style="nimbus-calendar"]::-webkit-scrollbar-track {
  background: var(--color-light-neutral-background);
  border-radius: 14px;
}

[data-style="nimbus-calendar"]::-webkit-scrollbar-thumb {
  background: var(--color-light-neutral-interactive);
  border-radius: 14px;
}

.nimbus-calendar {
  font-family: var(--font-family);
}

.nimbus-calendar-table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

.nimbus-calendar-head {
  background-color: var(--color-light-neutral-surface);
  border-top: 1px solid var(--color-light-neutral-surface-highlight);
  display: flex;
}

.nimbus-calendar-body {
  display: flex;
  flex-direction: column;
}

.nimbus-calendar-row {
  display: flex;
  flex: 1;
  padding: 0 var(--spacing-4);
}

.nimbus-calendar-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.nimbus-calendar-cell--head {
  font-size: var(--font-size-body-caption);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
  color: var(--color-light-neutral-text-low);
  width: var(--spacing-8);
  height: var(--spacing-8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nimbus-calendar-cell:has(.nimbus-calendar-day--disabled) {
  cursor: not-allowed;
}

.nimbus-calendar-day {
  appearance: none;
  border: none;
  background: transparent;
  color: var(--color-light-neutral-text-low);
  font-size: var(--font-size-body-caption);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all var(--motion-speed-base) ease-in-out;
  text-align: center;
  border-radius: var(--shape-border-radius-1);
  width: var(--spacing-8);
  height: var(--spacing-8);
}

.nimbus-calendar-day.full-width {
  width: 100%;
}

.nimbus-calendar-day:hover {
  background-color: var(--color-light-neutral-surface);
}

.nimbus-calendar-day--disabled {
  background-color: var(--color-light-neutral-surface-disabled);
  color: var(--color-light-neutral-text-disabled);
  pointer-events: none;
}

.nimbus-calendar-day--today {
  background-color: var(--color-light-primary-surface);
  outline: 1px solid var(--color-light-primary-surface-highlight);
  outline-offset: -1px;
  color: var(--color-light-primary-text-low);
}

.nimbus-calendar-day--today:hover {
  background-color: var(--color-light-primary-surface-highlight);
  outline-color: var(--color-light-primary-interactive);
  color: var(--color-light-primary-text-high);
}

.nimbus-calendar-day--outside {
  color: var(--color-light-neutral-text-disabled);
}

.nimbus-calendar-day--range-middle:hover {
  background-color: var(--color-light-primary-surface-highlight);
}

.nimbus-calendar-day--selected {
  background-color: var(--color-light-primary-interactive);
  color: var(--color-light-neutral-background);
  outline: none;
}

.nimbus-calendar-day--selected:hover {
  background-color: var(--color-light-primary-interactive-hover);
}

.nimbus-calendar-day--range-middle {
  background-color: var(--color-light-primary-surface);
  color: var(--color-light-primary-interactive);
  border-radius: 0;
}

.nimbus-calendar-day--range-middle:hover {
  background-color: var(--color-light-primary-surface-highlight);
  color: var(--color-light-primary-interactive-hover);
}

.nimbus-calendar-day--range-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nimbus-calendar-day--range-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nimbus-calendar-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-2);
  position: relative;
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  font-size: var(--font-size-body-highlight);
  font-weight: var(--font-weight-medium);
}

.nimbus-calendar-nav {
  display: flex;
  gap: var(--spacing-2);
}

.nimbus-calendar-nav-button {
  appearance: none;
  border: 1px solid var(--color-light-neutral-interactive);
  border-radius: 100%;
  background-color: var(--color-light-neutral-surface);
  color: var(--color-light-neutral-text-low);
  cursor: pointer;
  transition: all var(--motion-speed-base) ease-in-out;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nimbus-calendar-nav-button:not(:disabled):hover {
  background-color: var(--color-light-neutral-surface-highlight);
  border-color: var(--color-light-neutral-interactive-hover);
}

.nimbus-calendar-nav-button:disabled {
  background-color: var(--color-light-neutral-surface-disabled);
  border-color: var(--color-light-neutral-surface-highlight);
  color: var(--color-light-neutral-text-disabled);
  cursor: not-allowed;
}

.nimbus-calendar-months {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.nimbus-calendar-months .nimbus-calendar-head.sticky-weekdays {
  display: none;
}

.nimbus-calendar-caption--start {
  padding-top: var(--spacing-4);
}

.nimbus-calendar-caption--end {
  padding-bottom: var(--spacing-4);
}
