@import url("@nimbus-ds/tokens/dist/css/variables.css");

.menu__button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--spacing-2);
  cursor: pointer;
  display: flex;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  text-decoration: none;
  transition: all var(--motion-speed-base) ease;
  width: 100%;
}

.menu__button:hover,
.menu__button--active {
  background-color: var(--color-sys-light-primary-surface);
}

.menu__button:active {
  background-color: var(--color-sys-light-primary-surface-highlight);
}

.menu__button:focus {
  box-shadow: 0px 0px 0px 3px var(--color-sys-light-primary-surface-highlight);
}

.menu__button:disabled {
  background-color: var(--color-sys-light-neutral-surface-disabled);
  cursor: not-allowed;
}
